@model Udemy.WebUI.Models.CartListViewModel


<div class="card" style="width: 22rem;border-radius:5px;">
    <img src="~/Images/design-logo.png" class="card-img-top w-75 h-75 mt-3" alt="...">
    <div class="card-body mb-3 mt-3">
        <h1 class="pt-2">Course Name</h1>
        <p class="card-text pt-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h1 class="pt-2" style="color:green;font-size:1.1em;font-weight:700;">19.99$</h1>
        <a class="btn w-100" style="background-color:darkviolet;border-radius:0px;">Course Details</a>
    </div>
</div>