@model Udemy.WebUI.Models.AdminViewModel;


@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}


@if (Model.SubCategoryName != null)
{

    <h1 style="margin-left:500px;" class="text-center border-bottom-0 border border-dark rounded-top-2 p-2 w-50 mt-5 ">

        @Model.SubCategoryName Topics
    </h1>
    <a asp-controller="Admin" asp-action="AddTopic" class="btn btn-success text-center w-50" style="margin-left:500px;">Add Topic</a>
}
else
{
    <h1 style="margin-left:500px;" class="text-center border-bottom-0 border border-dark rounded-top-2 p-2 w-50 mt-5 ">

        Topics
    </h1>
    <a asp-controller="Admin" asp-action="AddTopic" class="btn btn-success text-center w-50" style="margin-left:500px;">Add Topic</a>

}


<table style="margin-left:500px;" class="table table-dark table-striped w-50">
    <thead>
        @*<tr>
        <th scope="col">Id</th>
        <th scope="col">Category</th>
        </tr>*@

    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {

            <tr>
                <th scope="row">@topic.TopicId</th>
                <td>
                    @topic.TopicName
                </td>
                <td>
                    <form asp-controller="Admin" asp-action="RemoveTopic" method="post" style="display:inline;">
                        <input type="hidden" name="topicId" value="@topic.TopicId" />
                        <button type="submit" class="btn btn-danger" style="cursor:pointer;">Remove Topic</button>
                    </form>
                </td>
            </tr>
        }
        
        
    </tbody>

</table>
